@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
    color:#07c!important;
    font-size: 24px;
    font-weight: 500;
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#notice:empty {
  display: none
}
